@font-face {
  font-family: 'FrancoisOne';
  src: url('../assets/fonts/FrancoisOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DelaGothicOne';
  src: url('../assets/fonts/DelaGothicOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'PeckhamPress';
  src: url('../assets/fonts/peckhampress.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Smirnow';
  src: url('../assets/fonts/smirnow.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gobold';
  src: url('../assets/fonts/gobold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}












/* MONTSERRAT */
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-Thin.ttf");
  font-weight: 100 199;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-ExtraLight.ttf");
  font-weight: 200 299;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-Light.ttf");
  font-weight: 300 399;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: 400 499;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-Medium.ttf");
  font-weight: 500 599;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-weight: 600 699;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: 700 799;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-ExtraBold.ttf");
  font-weight: 800 899;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-Black.ttf");
  font-weight: 900 999;
}